.to-invisible {
  -webkit-animation: to-invisible 1.5s;
  animation: to-invisible 1.5s;
}

@-webkit-keyframes to-invisible {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@keyframes to-invisible {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

.to-visible {
  -webkit-animation: to-visible 1s;
  animation: to-visible 1s;
}

@-webkit-keyframes to-visible {
  0% {
    opacity: 0;
    display: block;
  }

  100% {
    opacity: 1;
  }
}

@keyframes to-visible {
  0% {
    opacity: 0;
    display: block;
  }

  100% {
    opacity: 1;
  }
}
