* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 250px;
  background-image: url("../img/banner-logo.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
}

section:first-of-type {
  margin-top: 20px;
}

#heroes,
#monsters {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hero-card,
.monster-card,
.in-game-card {
  width: 25%;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.hero-card img,
.monster-card img,
.in-game-card img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}

.hero-card .hero-name,
.monster-card .monster-name,
.in-game-card .in-game-name {
  text-align: center;
  text-transform: uppercase;
}

.inactive-hero::after,
.inactive-monster::after {
  content: "";
  top: 0;
  width: 100%;
  border: 1px solid black;
  position: absolute;
  overflow: hidden;
  opacity: 0.5;
  background-color: gray;
  height: 100%;
  transition: 0.5s;
}

.inactive-hero:hover::after {
  opacity: 0;
}

.monster-card {
  cursor: default;
}

.bouton {
  margin-top: 20px;
  width: 70px;
  align-self: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.invisible {
  display: none;
}

#hpBar{
  background-color: green ;
}
.bar{
  display : block;
}
progress{
  width: 100%;
  text-align: center;
}
progress:before {
  content: attr(data-label);
  font-size: 0.8em;
  vertical-align: 0;
  
  /*Position text over the progress bar */
  position:absolute;
  left:0;
  right:0;
}